= simple_form_for [:dashboard, @user], html: { multipart: true }  do |f|
  = f.input :mobile, label: "电话号码"
  = f.input :password, as: :password, label: "密码"
  = f.submit f.object.persisted? ? "修改" : "增加", class: 'btn btn-primary btn-default'


