= simple_form_for [:dashboard, @tag], html: { multipart: true }  do |f|
  = f.input :name, label: "tag名称"
  = f.submit f.object.persisted? ? "修改" : "增加", input_html: { class: 'btn btn-primary btn-default' }

