%ul.nav.nav-tabs
  %li{role: :presentation, class: nav_li_class('categories', 'setting') }
    = link_to "模型分类" , dashboard_categories_path

  %li{role: :presentation, class: nav_li_class('tags') }
    = link_to "标签", dashboard_tags_path

