<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <%= stylesheet_link_tag 'dashboard', media: :all, data: { 'turbolinks-track': true } %>
    <%= javascript_include_tag 'dashboard',data: { 'turbolinks-track': true } %>
    <%= csrf_meta_tags %>
    <title><%= Setting.cn_name %></title>
  </head>

  <body ng-app="SuBuilding" ng-cloak>
    <md-toolbar layout="row" >
      <h1>Angular Material - Starter App</h1>
    </md-toolbar>

    <div flex layout="row">
        <md-sidenav md-is-locked-open="true" class="md-whiteframe-z2"></md-sidenav>
        <md-content flex id="content">
          <ui-view></ui-view>
        </md-content>
    </div>
  </body>
</html>
